body {
  font-family: 'ubuntu';
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.header-container {
  display: flex;
  justify-content: space-between;
  max-width: 1181px;
  height: 58px;
  margin: 53px 10% 117px 7%;
}

.logo-container {
  display: flex;
  gap: 25px;
}

.list-container {
  display: flex;
  list-style: none;
  gap: 37px;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  color: #202020;
}

.list-container a {
  text-decoration: none;
  color: #000000;
}

.title {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  color: #202020;
}

.nav-button {
  border: none;
  background: #5528ff;
  border-radius: 5px;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  width: 100px;
  height: 24px;
  color: #ffffff;
}

/* content */

.content-container {
  margin: 0 10% 100px 7%;
}

.content-container h1 {
  color: #202020;
  font-size: 57px;
  font-weight: 700;
}

.content-container p {
  color: #4f4f4f;
  font-size: 32px;
  line-height: 161%;
  max-width: 741px;
}

.content-container button {
  border: none;
  width: 235px;
  height: 60px;
  border-radius: 10px;
  background: #5528ff;
  color: #fff;
  font-size: 24px;
}

/* footer */
.footer-container {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  padding: 20px 10% 20px 7%;
  justify-content: space-between;
  background: #f7f7f7;
}

.socialmedia-container {
  display: flex;
  align-items: center;
  gap: 40px;
}
